<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>All Sets</title>
</head>
<header>
    <a class="main_buttons" href="https://winline.ru/" style="float:left"><img src="static/money/img_1.png" data-img="static/money/img_1.png" width="600" height="300"></a>
    <a class="main_buttons" href="https://winline.ru/" style="float:right"><img src="static/money/img_1.png" data-img="static/money/img_1.png" width="600" height="300"></a>
    <h1 class="label">THE BEST DOTA SETS</h1>
        <a class="main_buttons btn btn-primary" href="/">{{ _('Sets') }}</a>
        <a class="main_buttons btn btn-primary" href="{{ url_for('main.about_site') }}">{{ _('About') }}</a>
    <form action="/search" method="get" class="main_buttons btn btn-primary" value="Search">
        <input class="u-search-input" type="search" name="search" value="" class="form-control" placeholder="{{ _('Search here!') }}">
    </form>>
    {% if current_user.is_authenticated %}
    <p>
    <a class="main_buttons btn btn-primary" href="{{ url_for('main.profile') }}">{{ _('Welcome') }}, {{current_user.name}}!</a>
        <a class="main_buttons btn btn-primary" href="logout">{{ _('Exit') }}</a>
        </p>
    {% else %}
    <p>
    <a class="main_buttons btn btn-primary" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
        <a class="main_buttons btn btn-primary" href="{{ url_for('auth.register') }}">{{ _('Registration') }}</a>
        </p>
    {% endif %}
</header>
<body>
    {% block content %}
    <header>
        <h1>THE BEST DOTA SETS</h1>
        <nav>
          <a href="{{ url_for('main.index') }}">Sets</a>
          <a href="">About</a>
          <a href="">Gallery</a>
          <a href="">Contact</a>
          <a href="{{ url_for('auth.login') }}"></a>
        </nav>
    </header>
    {% endblock %}
</body>
</html>