{% extends 'base.html' %}
{% block content %}

<div class="sets align_sets">
    <script>
    jQuery(document).ready(function($) {
        $("img").hover(function() {
            var src = this.src;
            this.src = $(this).data("img");
            $(this).data("img", src);
        });
    });
    </script>
    {% for i in gif %}
        <a class="main_buttons" href="{{ i.hero_name }}"><img src="static/avatars/{{ i.hero_name }}_ava.png" data-img="{{ i.gif_link }}" width="300" height="300" alt=""></a>
    {% endfor %}
</div>
{% endblock %}